# Created by https://www.toptal.com/developers/gitignore/api/idea,scala
# Edit at https://www.toptal.com/developers/gitignore?templates=idea,scala

#!! ERROR: idea is undefined. Use list command to see defined gitignore types !!#

### Scala ###
*.class
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# End of https://www.toptal.com/developers/gitignore/api/idea,scala
frontend/target
frontend/project
frontend/.idea
